<div class="p-col">
  <div class="heading pt-3 pb-3">
    Pittsburgh Sleep Quality Index
  </div>
  <form class="form-formular maxHeight">
    <p-scrollPanel [style]="{width: '100%', height: '100%;'}">
      <p-tabView orientation="left" (onChange)="handleChange($event)">
        <p-tabPanel header="1. Pitanje" id="0">
          <p-scrollPanel [style]="{width: '100%', height: '427px'}">
            <div style="font-size: 22px;" [innerHTML]="explanation" class="pb-1">
            </div>
            <div class="font">
              <div class="pb-3">
                <span class="pb-3">&diams; Tijekom posljednjih mjesec dana, kada ste obično išli u krevet?</span><br>
                <div class="tab">
                  <p-inputMask [style]="{'font-size':'32px'}" name="P1" [(ngModel)]="P1" mask="99:99" slotChar="_"
                    autocomplete="off" placeholder="Sati:Minute"></p-inputMask>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-tabPanel>
        <p-tabPanel header="2. Pitanje" id="1">
          <p-scrollPanel [style]="{width: '100%', height: '427px'}">
            <div style="font-size: 22px;" [innerHTML]="explanation" class="pb-1">
            </div>
            <div class="font">
              <div class="pb-3">
                <span class="pb-3">&diams; Tijekom posljednjih mjesec dana, koliko Vam je minuta bilo potrebno da zaspete?</span><br>
                <div class="tab">
                  <p-inputMask [style]="{'font-size':'32px'}" name="P1" [(ngModel)]="P2" mask="99" slotChar="_"
                    autocomplete="off" placeholder="Minute"></p-inputMask>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-tabPanel>
        <p-tabPanel header="3. Pitanje" id="2">
          <p-scrollPanel [style]="{width: '100%', height: '427px'}">
            <div style="font-size: 22px;" [innerHTML]="explanation" class="pb-1">
            </div>
            <div class="font">
              <div class="pb-3">
                <span class="pb-3">&diams; Tijekom posljednjih mjesec dana, kada ste obično ujutro ustajali iz kreveta?</span><br>
                <div class="tab">
                  <p-inputMask [style]="{'font-size':'32px'}" name="P1" [(ngModel)]="P3" mask="99:99" slotChar="_" autocomplete="off"
                    placeholder="Sati:Minute"></p-inputMask>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-tabPanel>
        <p-tabPanel header="4. Pitanje" id="3">
          <p-scrollPanel [style]="{width: '100%', height: '427px'}">
            <div style="font-size: 22px;" [innerHTML]="explanation" class="pb-1">
            </div>
            <div class="font">
              <div class="pb-3">
                <span class="pb-3">&diams; Tijekom posljednjih mjesec dana, koliko sati ste u krevetu proveli spavajući?
                  (Ovaj broj sati se može razlikovati od broja sati provedenih u krevetu:)</span><br>
                <div class="tab">
                  <p-inputMask [style]="{'font-size':'32px'}" name="P1" [(ngModel)]="P4" mask="99" slotChar="_" autocomplete="off"
                    placeholder="Sati sna po noći"></p-inputMask>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </p-tabPanel>

        <p-tabPanel header="4. Pitanje" id="4">
          <p-scrollPanel [style]="{width: '100%', height: '427px'}">
            <div style="font-size: 22px;" [innerHTML]="number_explanation" class="pb-1">
            </div>
            <div class="font">
              <div id="N4" class="pb-3">
                <p class="question pb-1">Otežano spavanje</p>
                <p-radioButton name="N4" value="0" label="0" [(ngModel)]="N4" class="mr-3">
                </p-radioButton>Nije problem<br>
                <p-radioButton name="N4" value="1" label="1" [(ngModel)]="N4" class="mr-3">
                </p-radioButton>Vrlo blagi problem<br>
                <p-radioButton name="N4" value="2" label="2" [(ngModel)]="N4" class="mr-3">
                </p-radioButton>Umjereni problem<br>
                <p-radioButton name="N4" value="3" label="3" [(ngModel)]="N4" class="mr-3">
                </p-radioButton>Prilično težak problem<br>
                <p-radioButton name="N4" value="4" label="4" [(ngModel)]="N4" class="mr-3">
                </p-radioButton>Težak problem
              </div>
            </div>
          </p-scrollPanel>
        </p-tabPanel>
        <p-tabPanel header="5. Pitanje" id="5">
          <p-scrollPanel [style]="{width: '100%', height: '427px'}">
            <div style="font-size: 22px;" [innerHTML]="number_explanation" class="pb-1">
            </div>
            <div class="font">
              <div id="N5" class="pb-3">
                <p class="question pb-1">Nemogućnost dobivanja dovoljno zraka kroz nos tijekom vježbanja ili
                  napora</p>
                <p-radioButton name="N5" value="0" label="0" [(ngModel)]="N5" class="mr-3">
                </p-radioButton>Nije problem<br>
                <p-radioButton name="N5" value="1" label="1" [(ngModel)]="N5" class="mr-3">
                </p-radioButton>Vrlo blagi problem<br>
                <p-radioButton name="N5" value="2" label="2" [(ngModel)]="N5" class="mr-3">
                </p-radioButton>Umjereni problem<br>
                <p-radioButton name="N5" value="3" label="3" [(ngModel)]="N5" class="mr-3">
                </p-radioButton>Prilično težak problem<br>
                <p-radioButton name="N5" value="4" label="4" [(ngModel)]="N5" class="mr-3">
                </p-radioButton>Težak problem
              </div>
            </div>
          </p-scrollPanel>
        </p-tabPanel>
      </p-tabView>
    </p-scrollPanel>
    <button pButton type="submit" icon="pi pi-caret-left" label="Prijethodna" (click)="prev()"
      class="ui-button-raised ui-button-rounded ui-button-info pt-1 mr-2"></button>
    <button pButton type="submit" icon="pi pi-caret-right" label="Sljedeća" (click)="next()"
      class="ui-button-raised ui-button-rounded ui-button-info pt-1 mr-2"></button>
    <a routerLink="/"><button pButton type="submit" icon="pi pi-check" label="Završi"
        class="ui-button-raised ui-button-rounded ui-button-success pt-1 formSubmitButton"></button></a>
  </form>
</div>