<form >
    <div class="imgcontainer">
        <img src="assets/Img/account-icon-lg.png" alt="Avatar" class="avatar"  >
      </div>
    
      <div class="container">
        <label for="username"><b>Korisničko ime: </b></label>
        <input type="text" placeholder="Unesite korisničko ime" name="username" required> <br>
    
        <label for="password"><b>Lozinka: </b></label>
        <input type="password" placeholder="Unesite lozinku" name="password" required><br>
    
        <a routerLink="/HomePage"><button type="submit">Prijava</button></a>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Dont have an account? <a href="#">Sign up</a></span>
      </div>
</form> 

