<div class="sidenav">
  <button type="text" class="ui-button-secondary largeButton" (click)="sidebar = true" pButton
    icon="pi pi-bars"></button>
</div>
<p-sidebar [(visible)]="sidebar" position="left" [style]="{width:'40em'}" dismissible>
  <div class="p-grid">
    <div class="p-col-10">
      <p-accordion>
        <p-accordionTab header="Tablet Formulari" [selected]="true">
          <div class="pb-3">
            <a (click)="close()" routerLink="/tab-stop-formular">STOP upitnik</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/tab-nose-formular">NOSE instrument</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/tab-epworth-ljestva">Epworthova ljestvica pospanosti</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/tab-simptomi-formular">Simptomi</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/prije-spavanja">Upitnik prije spavanja</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/nakon-spavanja">Upitnik nakon spavanja</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/berlinski-upitnik">Berlinski upitnik</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/tab-pittsburgh-formular">Pittsburgh sleep quality index</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/ujutro">Upitnik ujutro</a>
          </div>
          <div class="pb-3">
            <a (click)="close()" routerLink="/navecer">Upitnik navecer</a>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</p-sidebar>