
.ui-card-content {
    padding: 1rem;
}
.cardBody {
    font-weight: normal;
    padding-left:0.8rem;
}
.header-container{
    padding: 1rem;
}
.heading {
    font-weight: bold;
    font-size: 21px;
}
.larger {
    padding-top: 0.4rem;
    font-size: 20px;
}