<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6">
      <div class="ui-g-12 ui-g-offset-6">
        <div class="box">
          <p-card>
            <p-header>
              <div class="header-container">
                <span class="heading">Kronični i povremeni poremećaji spavanja problem su milijuna ljudi u cijelom
                  svijetu.</span>
              </div>
            </p-header>
            <div class="cardBody">
              <p>Loša kvaliteta spavanja oboljelih od KOPB-a nastaje kao posljedica smanjene saturacije kisikom,
                hiperkapnije,
                korištenja
                pomoćne respiratorne muskulature. Cilj ovog istraživanja je ispitati rizik za sindrom apneje u oboljelih
                od
                KOPB-a, te utvrditi povezanost s kardiovaskularnim komorbiditetom oboljelih.</p>
              <p class="larger">
                Ispitanicima će biti omogućeno nekoliko upitnika kako bi se moglo lakše utvrditi postojanje
                bolesti, a to su STOP upitnik, Epworthova ljestivica pospanosti, NOSE instrument <i>Nasal Obstruction
                  Symptom
                  Evaluation</i> itd.
              </p>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>